<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EyeQTest"
        tools:targetApi="31">
        <activity
            android:name=".HandEyeCoordination.HandEYETest"
            android:exported="false" />
        <activity
            android:name=".HandEyeCoordination.HandEyeCoResults"
            android:exported="false" />
        <activity
            android:name=".HandEyeCoordination.HandEyeCoordinationTest"
            android:exported="false" />
        <activity
            android:name=".HandEyeCoordination.HiCloseLeftEye"
            android:exported="false" />
        <activity
            android:name=".HandEyeCoordination.HiCloseRightEye"
            android:exported="false" />
        <activity
            android:name=".HandEyeCoordination.HandEyeCoordinationHome"
            android:exported="false" />
        <activity
            android:name=".Astigmatism.Astigmatism"
            android:exported="false" />
        <activity
            android:name=".Astigmatism.Astigmatism2"
            android:exported="false" />
        <activity
            android:name=".Astigmatism.AstigmatismFront"
            android:exported="false" />
        <activity
            android:name=".Astigmatism.AstigmatismFail"
            android:exported="false" />
        <activity
            android:name=".Astigmatism.AstigmatismCloseLeftEye"
            android:exported="false" />
        <activity
            android:name=".Astigmatism.AstigmatismCloseRightEye"
            android:exported="false" />
        <activity
            android:name=".Astigmatism.AstigmatismResults"
            android:exported="false" />
        <activity
            android:name=".ColorBlindTest.ColorTestResults"
            android:exported="false" />
        <activity
            android:name=".ColorBlindTest.ColorBlindTestLeft"
            android:exported="false" />
        <activity
            android:name=".ColorBlindTest.ColorBlindTestRight"
            android:exported="false" />
        <activity
            android:name=".ColorBlindTest.CloseRightEye"
            android:exported="false" />
        <activity
            android:name=".ColorBlindTest.CloseLeftEye"
            android:exported="false" />
        <activity
            android:name=".ColorBlindTest.ColorBlindHome"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MacularDegeneration.MacularCloseLeftEye"
            android:exported="false" />
        <activity
            android:name=".MacularDegeneration.MacularCloseRightEye"
            android:exported="false" />
        <activity
            android:name=".MacularDegeneration.MacularDegenerationFront"
            android:exported="false" />
        <activity
            android:name=".MacularDegeneration.MacularDegenerationResult"
            android:exported="false" />
        <activity
            android:name=".MacularDegeneration.MacularDegenerationTest"
            android:exported="false" />
        <activity
            android:name=".MacularDegeneration.MacularDegenerationTestRight"
            android:exported="false" />
        <activity
            android:name=".ContrastSensivity.ContrastSensivityActivity"
            android:exported="false" />
        <activity
            android:name=".ContrastSensivity.ContrastSensivityFront"
            android:exported="false" />
        <activity
            android:name=".blinkingrouting.EyesActivity"
            android:exported="false" />
        <activity
            android:name=".ContrastSensivity.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ContrastSensivity.ResultBadActivity"
            android:exported="false" />
    </application>

</manifest>